{
  "semi": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^vue$",
    "^nuxt",
    "#imports",
    "<THIRD_PARTY_MODULES>",
    "^~/components/(.*)$",
    "^~/composables/(.*)$",
    "^~/features/(.*)$",
    "^~/shared/(.*)$",
    "^~/lib/(.*)$",
    "^~/i18n/(.*)$",
    "^~/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
